gemini-result.json
{
  "name": "COTI Transaction Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutes": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        460,
        240
      ]
    },
    {
      "parameters": {
        "url": "https://mainnet.cotiscan.io/api/v2/addresses/YOUR_WALLET_ADDRESS/transactions",
        "options": {}
      },
      "id": "http-request",
      "name": "Get COTI Transactions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "// --- CONFIGURATION ---\n// Paste your wallet address below so the bot knows if you SENT or RECEIVED funds\nconst myWallet = 'YOUR_WALLET_ADDRESS'; \n// ---------------------\n\nconst response = $input.first().json;\nconst transactions = response.items || [];\nconst staticData = $getWorkflowStaticData('global');\n\n// Initialize static data if it doesn't exist (First Run)\nif (staticData.lastSeenHashes === undefined) {\n  // Store current hashes but send no notifications\n  staticData.lastSeenHashes = transactions.map(tx => tx.hash);\n  return [{ json: { hasNew: false } }];\n}\n\n// Get previously seen hashes\nconst lastSeen = staticData.lastSeenHashes || [];\n\n// Identify new transactions (present in API but not in our memory)\nconst newTransactions = transactions.filter(tx => !lastSeen.includes(tx.hash));\n\n// If no new transactions, stop here\nif (newTransactions.length === 0) {\n  // Update memory just to be safe (sync with current window)\n  staticData.lastSeenHashes = transactions.map(tx => tx.hash);\n  return [{ json: { hasNew: false } }];\n}\n\n// Process new transactions\nconst results = newTransactions.map(tx => {\n  // Math: 18 decimals for COTI\n  const valCoti = (parseFloat(tx.value) / 1000000000000000000).toFixed(2);\n  const feeCoti = tx.fee && tx.fee.value ? (parseFloat(tx.fee.value) / 1000000000000000000).toFixed(6) : '0';\n  \n  // Determine direction\n  const isIncoming = tx.to.hash.toLowerCase() === myWallet.toLowerCase();\n  const directionIcon = isIncoming ? \"🟢 Received\" : \"🔴 Sent\";\n  \n  // Format addresses\n  const otherPartyHash = isIncoming ? tx.from.hash : tx.to.hash;\n  const shortAddr = `${otherPartyHash.substring(0, 6)}...${otherPartyHash.substring(otherPartyHash.length - 4)}`;\n  \n  // Create Message\n  const msg = `\n${directionIcon} *${valCoti} COTI*\n${isIncoming ? 'From' : 'To'}: \\`${shortAddr}\\`\nFee: ${feeCoti} COTI\nBlock: ${tx.block_number}\n[View on CotiScan](https://cotiscan.io/tx/${tx.hash})`;\n\n  return {\n    json: {\n      hasNew: true,\n      message: msg,\n      hash: tx.hash\n    }\n  };\n});\n\n// Update static data memory with the current list of transactions\nstaticData.lastSeenHashes = transactions.map(tx => tx.hash);\n\nreturn results;"
      },
      "id": "process-transactions",
      "name": "Process Transactions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.hasNew }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-new",
      "name": "Is New?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1120,
        240
      ]
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-sender",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1340,
        220
      ],
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": ""
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get COTI Transactions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get COTI Transactions": {
      "main": [
        [
          {
            "node": "Process Transactions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Transactions": {
      "main": [
        [
          {
            "node": "Is New?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New?": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}